*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 16px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 576px) {
    html {
      font-size: 10px;
    }
  }
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    background-color:transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
.stick-header{
    background-color:black;
    color: white;
}
.header-nav ul li a{
    color: white;
}
nav ul{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 500;

}
.logo h3{
    font-size: 2rem;
    font-weight: 700;
}
.logo h3 span{
    font-weight: 100;
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.close-btn{
    display: none;
}
.menu-btn{
    display: none;
}
.search-section{
    background-color: rgba(0, 0, 0, 0.459);
    background-blend-mode: overlay;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
   align-items: center;
   position: fixed;  
   top: -100%;
   left: -100%; 
    z-index: -2000;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box input{
    width: 50%;
   padding: 0.5rem 1rem;
   background-color: white;
   color: gray;
   border: none;
   border-top-left-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
}
.search-close{
    position: fixed;
    top: 20%;
    right: 20%;
    z-index: 2000;
    border: 1px solid white;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}
.open-serach{
    top: 0;
    left: 0;
    z-index: 2000;
}
.search-box .search-btn{
    padding: 0.5rem 1rem;
    border: none;
    color:white;
    background-color:black;
    border-top-right-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
}

@media screen and (max-width: 992px){
    .header-nav{
        width: 50%;
        background-color: black;
        color: white;
        position: fixed;
        top:10%;
        left: -50%;
        height: 50vh;
        z-index: 1;
    }
    .header-nav ul{
        font-size: 2rem;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
    }
    .close-btn{
        display: inline-block;
        padding: 0.5rem 0.5rem;
        border: 1px solid white;
        color: black;
        background-color: white;
    }
    .menu-btn{
        display: block;
        padding: 0.5rem 0.5rem;
        border: 1px solid white;
        color: white;
        background-color: black;
    }
    .open{
        left: 0;
    }
    .get-btn{
        display: none;
    }
}
@media screen and (max-width: 992px){
    .logo h3{
        font-size:3.3rem ;
    }
    .right-side{
        font-size: 1.5rem;
    }
    .search-section{
        height: 60vh;
    }
}
  
.get-btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: white;
}
.main-landind{
    background-image: url(../img/landing-img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    background-blend-mode: overlay;   
}

.main-landing-desp h2{
    font-size: 5rem;
    padding: 0.5rem 1rem;
}
.main-landing-desp p{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}
.main-landind1{
    background-image: url(../img/landing-img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    background-blend-mode: overlay;
}

.main-landing-desp1 h2{
    font-size: 5rem;
    padding: 0.5rem 1rem;
}
.main-landing-desp1 p{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}
.main-landind3{
    background-image: url(../img/landing-img3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    background-blend-mode: overlay;
}

.main-landing-desp3 h2{
    font-size: 5rem;
    padding: 0.5rem 1rem;
}
.main-landing-desp3 p{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}
@media screen and (max-width: 992px){
    .main-landind{
        height: 60vh;
    }
    .main-landind1{
        height: 60vh;
    }
    .main-landind3{
        height: 60vh;
    }
        
}
.bx-wrapper{
    box-shadow: none;
    border: none;
}
.bx-wrapper .bx-pager{
    bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    background-color: white;
}
/* --------------------about-section----------------- */
.about-section{
    background-color: rgba(128, 128, 128, 0.116);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-img img{
    width: 90%;
    border-radius: 1.5rem;
}
.pro-about img{
    width: 100%;
    border-radius: 1.5rem;  
    margin-bottom: 1.3rem; 
}
@media screen and (max-width: 992px){
    .about-img img{
        width: 60%;
        border-radius: 1.5rem;
    }
    .pro-about img{
        width: 60%;
        border-radius: 1.5rem;  
        margin-bottom: 1.3rem; 
    }  
}
.pro-about h5{
    font-size: 1.4rem;
    margin-bottom: 0.5rem
}
.pro-about p{
    color: gray;
    font-size: 1.1rem;
}
.about-desp h6{
    font-size: 1.01rem;
    margin-bottom: 1.3rem;
}
.about-desp h4{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}
.about-desp h4 span{
    font-size: 2.6rem;
    font-weight: 300;
}
.about-desp-info p{
    font-size: 1.1rem;
    color: gray;
    font-weight: 500;
    margin-bottom: 3rem;
}
@media screen and (max-width: 992px){
    .about-desp h6{
        font-size: 2rem; 
    }
    .about-desp h4{
        font-size: 4rem; 
    }
    .about-desp h4 span{
        font-size: 5rem;  
    }
    .about-desp-info p{
        font-size: 2rem;  
    }
    .pro-about h5{
        font-size: 2.4rem;
    }
    .pro-about p{
        font-size: 2.1rem;
    }
}
/* -----------------summer-collection--------------------- */
.summer-collection{
    background-color: rgba(128, 128, 128, 0.055);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.summer-collection-img img{
    width: 100%;
    border-radius: 1.4rem;
}
.summer-collection-desp h6{
    font-size: 1.05rem;
    margin-bottom: 1.3rem;
}
.summer-collection-desp h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
}
.summer-collection-desp p{
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;
    margin-bottom: 2.7rem;
}
.shop-btn{
    padding: 0.6rem 1.7rem;
    border: none;
    border-radius: 0.4rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}
@media screen and (max-width: 992px){
    .summer-collection-desp h6{
        font-size: 2rem;  
    }
    .summer-collection-desp h3{
        font-size: 4rem; 
    }
    .summer-collection-desp p{
        font-size: 2rem; 
    }
}
/* -------------------gallery-section-------------------- */
.gallery-section{
    background-color: rgba(128, 128, 128, 0.116);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gallery h6{
    font-size: 1.05rem;
    margin-bottom: 1.3rem;
}
.gallery h3{
    font-size: 2.6rem;
    font-weight: 700;
}
.gallery h3 span{
    font-size: 2.8rem;
    font-weight: 300;
}
.main-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.product{
    position: relative;
}
.product-img{
    width: 100%;
}
.product-img img{
    width: 100%;
    border-radius: 0.5rem;
}
.product-desp{
    display: none;
}
.product:hover .product-desp{
    width: 260px;
    height: 260px;
    content:"" ;
    display: inline-block;
    padding: 5.5rem 1rem;
    color: rgba(255, 255, 255, 0.767);
    border: none;
    border-radius:0.5rem ;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scale(1);
    transition-delay: 3s;
}
.product:hover .product-desp h5{
    font-size: 1.9rem;
    font-weight: 700;
}
.product:hover .product-desp p{
    font-size: 1.2rem;
}
@media screen and (max-width: 992px){
    .gallery h6{
        font-size: 2rem;  
    }
    .gallery h3{
        font-size: 4rem; 
    }
    .gallery h3 span{
        font-size: 5rem;
    }
    .product:hover .product-desp{
        width: 220px;
        height: 220px;
    }
    .product:hover .product-desp h5{
        font-size: 2.3rem;
        font-weight: 700;
    }
    .product:hover .product-desp p{
        font-size: 2rem;
    }
}
/* ------------------------customer-count-section----------------------- */
.customer-count-section{
    background-image: url(../img/l.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    background-blend-mode: overlay;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.bracnch-count{
    width: 100%;
    text-align: center;
}
.event-count{
    width: 100%;
    text-align: center;
}
.active-mamber{
    width: 100%;
    text-align: center;
}
.happy-customer{
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 992px){
    .count h1{
        font-size: 3rem;
    }
    .count p{
        font-size: 1.9rem;
    }
}
/* -------------------------Blog Posts----------- */
.blogtital h6{
    font-size: 1.05rem;
    margin-bottom: 1.3rem;
}
.blogtital h3{
    font-size: 2.6rem;
    font-weight: 700;
}
.blogtital h3 span{
    font-size: 2.8rem;
    font-weight: 300;
}
.card{
    border-radius: 0.5rem;
    overflow: hidden;
   
}
.card:hover .card-head img{
    transform: scale(1.06);
    transition: 0.3s;  
}

.card-head img{
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;    
}
.card-body h6{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card-body p{
    font-size: 1.2rem;
    color: gray;
    font-weight: 500;
}
.card-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.read-btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 0.3rem;
}
/* --------------------reviews section---------------------- */
.review-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.review-desp i{
    font-size: 1.9rem;
    margin-bottom: 0.7rem;
}
.review-desp h5{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.review-desp p{
   width: 50%;
   margin: 0 auto;
   color: gray;
   font-size: 1.1rem;
}
.review-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.review-icon i{
    font-size: 1.3rem;
    margin-top: 1rem;
}
.swiper-button-prev{
    color: black;
}
.swiper-button-next{
    color: black;
}
@media screen and (max-width:992px){
    .review-desp i{
        font-size: 2rem;
    }
    .review-desp p{
        width: 80%;
        font-size: 1.9rem;
        margin-bottom: 1.3rem;
    }
    .review-desp h5{
        font-size: 2.3rem;
    }
    .review-img img{
        width: 150px;
        height: 150px;
    }
}
/* ------------------------ footer----------------------------- */
.footer{
    background-color: rgba(0, 0, 0, 0.774);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.1rem;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.footer-contact h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.footer-contact h3 span{
    font-weight: 300;
}
.footer-contact p{
    width: 90%;
    font-size: 1.2rem;
}
.contact-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 0.3rem;
}
.footer-title h5{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.footer-title h5 span{
    font-weight: 300;   
}
.footer-feedback h5{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.footer-feedback p{
    width: 90%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.footer-feedback h5 span{
    font-weight: 300;   
}
.input-feed {
    display: flex;
    padding: 0.5rem 0.5rem;
    color: black;
    margin-bottom: 1rem;
}
.input-feed input{
    width: 100%;
    padding:0.5rem 1rem ;
    border: none;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.send-btn{
    width: 25%;
    padding:0.5rem 1rem ;
    border: none;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
/* ----------------about-landing-section---------------------------- */
.about-landing-section{
    background-image: url(../img/l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    height: 300px;
}
.about-landing-desp{
    margin: 7rem 0;
}
.breadcrumb-item{
    font-weight: 500;
    font-size: 1.2rem;
}
.breadcrumb-item a{
    color: white;
}
/* ----------------------our-stroy-section */
.our-stroy-section{
    background-color: rgba(128, 128, 128, 0.116);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.our-story h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
}
.our-story h3 span{
    font-size: 2.9rem;
    font-weight: 300;
}
.our-story p{
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
}
@media screen and (max-width:992px){
    .our-story h3{
        font-size:4rem ;
    }
    .our-story h3 span{
        font-size: 3.5rem;    
    }
    .our-story p{
        width: 100%;
        font-size: 1.8rem; 
    }
    .our-story-desp h5{
        font-size: 1.9rem;
    }
    .our-story-desp p{
        font-size: 1.6rem; 
    }

}
/* ----------------------more-info-section  */
.more-info-section {
    background-color: rgba(128, 128, 128, 0.055);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.company-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.company-logo img{
    width: 100%;
}
.maore-info-desp h6{
    font-size: 1.05rem;
    margin-bottom: 1.2rem;
}
.maore-info-desp h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.maore-info-desp h3 span{
    font-size: 2.8rem;
    font-weight: 300;
}
.maore-info-desp p{
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 2rem;
}
.dis-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 0.3rem; 
}
@media screen and (max-width:992px){
    .maore-info-desp h6{
        font-size: 1.9rem;
    }
    .maore-info-desp h3{
        font-size: 4rem;
    }
    .maore-info-desp h3 span{
        font-size: 3.5rem;  
    }
    .maore-info-desp p{
        font-size: 1.6rem;
    }
    .dis-btn{
        font-size: 1.6rem;
    }
    
}
/* ------------------our-team-section */
.our-team-section{
    background-color: rgba(128, 128, 128, 0.116);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-img img{
    width: 200px;
    height: 300px;
    border-radius: 0.5rem;
}
.our-team-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.team-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.team-mamber{
    position: relative;
}
.team-info{
    display: none;
}
.team-mamber:hover .team-info {
    content: "";
    display: inline-block;
    padding: 6.5rem 0;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.our-team h6{
    font-size: 1.05rem;
    margin-bottom: 1.2rem;
}
.our-team h3{
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.our-team h3 span{
    font-size: 2.7rem;
    font-weight: 300;
}
.our-team p{
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 2rem;
}
.join-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 0.3rem; 
}
@media screen and (max-width:992px){
    .our-team h6{
        font-size: 1.9rem;
    }
    .our-team h3{
        font-size: 4rem;
    }
    .our-team h3 span{
        font-size: 3.5rem;  
    }
    .our-team p{
        font-size: 1.6rem;
    }
    .join-btn{
        font-size: 1.6rem;
    }  
}
/* ---------------------------service-landing-section--------------------- */
.service-landing-section{
    background-image: url(../img/l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    height: 300px;
}
.service-landing-desp{
    margin: 7rem 0;
}
/* ---------------our-service-section */
.our-service-section{
    background-color: rgba(128, 128, 128, 0.116);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.service{
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: white;
}
.service-img i{
    font-size: 2.3rem;
}
.service-desp h6{
    font-size: 1.3rem;
}
.service-desp p{
    font-size: 1.1rem;
    color: gray;
}
@media screen and (max-width:992px){
    .our-service-title h6{
        font-size: 1.9rem;
    }
    .our-service-title h3{
        font-size: 3.5rem;
    }
    .service-desp h6{
        font-size: 2rem;
    }
    .service-desp p{
        font-size: 1.6rem;
    }
}
/* --------------------------our-progress-section */
.our-progress-section{
    background-color: rgba(128, 128, 128, 0.055);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.progress-img img{
    width: 500px;
    height: 500px;
}
.progress-desp h6{
    font-size: 1.05rem;
    margin-bottom: 1.2rem;
}
.progress-desp h3{
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.progress-desp h3 span{
    font-size: 2.7rem;
    font-weight: 300;
}
.progress-desp  p{
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 2rem;
}
.progress{
    --bs-progress-height: 0.5rem;
    --bs-progress-bar-bg: black;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:992px){
    .progress-img img{
        width: 350px;
        height: 350px;
       margin-left: 5rem;
       margin-right: 5rem;
    }
    .progress-desp h6{
        font-size: 1.9rem; 
    }
    .progress-desp h3{
        font-size: 4rem;  
    }
    .progress-desp h3 span{
        font-size: 3.5rem;
    }
    .progress-desp  p{
        font-size: 1.6rem;
    }
}
/* ---------------blog-landing-section------------------------------- */
.blog-landing-section{
    background-image: url(../img/l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    height: 300px;
}
.blog-landing-desp{
    margin: 7rem 0;
}
/* ---------------------blog-section */
.blog-section{
    background-color: rgba(128, 128, 128, 0.055);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.all-categories{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: white;
}
.all-categories h6{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.all-categories ul{
    padding-left: 0;
}
.all-categories ul li{
    margin-bottom: 1.1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
}
.recent-blog{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.recent-blog-img img{
    width: 100px;
    height: 150px;
    border-radius: 0.5rem;
}
.recent-post{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: white;
}
.recent-post h6{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.recent-blog-desp p{
    margin-top: 0.2rem;
    color: gray;
    font-size: 1.05rem;
}
.instragram-post{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: white;
}
.instagram-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.instagram-img img{
    width: 100px;
    height: 100px;
}
.instragram-post h6{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.popular-tag{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: white;
}
.tag-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color:gray;
    color:black;
    border-radius: 0.3rem;  
    border: none;
}
.popular-tag h6{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.page-item .page-link{
    color: black;
}
.page-item:first-child .page-link{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.page-item:last-child .page-link{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
@media screen and (max-width:992px){
    .all-categories h6{
        font-size: 2rem; 
    }
    .all-categories ul li{
        font-size: 1.9rem;
    }
    .recent-post h6{
        font-size: 2rem; 
    }
    .recent-blog-desp p{
        font-size: 1.9rem;
    }
    .instragram-post h6{
        font-size: 2rem; 
    }
    .popular-tag h6{
        font-size: 2rem; 
    }
    .tag-btn{
        font-size: 1.7rem;
    }
} 
/* ----------------contact-landing-section------------------------ */
.contact-landing-section{
    background-image: url(../img/l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    height: 300px;
}
.contact-landing-desp{
    margin: 7rem 0;
}
/* ------------------contact-section */
.contact-section{
    background-color: rgba(128, 128, 128, 0.164);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-info{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.contact-us h6{
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}
.contact-us h3{
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.contact-us h3 span{
    font-size: 2.6rem;
    font-weight: 300;
}
.contact-us p{
    color: gray;
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
}
.contact-icon i{
    font-size: 1.6rem;
}
.contact-desp h6{
    font-size: 1.05rem;
}
.contact-desp p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:992px){
    .contact-us h6{
        font-size: 1.9rem;
    }
    .contact-us h3{
        font-size: 4rem;
    }
    .contact-us h3 span{
        font-size: 3.9rem;
    }
    .contact-us p{
        font-size: 1.9rem;
    }
    .contact-desp p {
        font-size: 1.9rem;
    }
}
/* ----------------------feedback */
.feedback-info1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.feedback-info1 input{
    width: 50%;
    padding: 0.5rem 0.5rem;
    background-color: white;
    color: gray;
    border: none;
    border-radius: 0.2rem;
}
.feedback-info input{
    width: 100%;
    padding: 0.5rem 0.5rem;
    background-color: white;
    color: gray;
    border: none;
    border-radius: 0.2rem;
}
.feedback-info  textarea{
   padding: 1rem 1rem;
   background-color: white;
   color: gray;
   border: none;
   border-radius: 0.2rem;
   width: 100%;
}
.send-fb-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color:black;
    color:white;
    border-radius: 0.3rem;  
    border: none;
}
.feedback h3{
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.feedback h3 span{
    font-size: 2.6rem;
    font-weight: 300;
}
@media screen and (max-width:992px){
    .feedback h3{
        font-size: 4rem;
    }
    .feedback h3 span{
        font-size: 3.9rem;
    }
    .send-fb-btn{
        font-size: 2rem;
    }
    .feedback-info textarea{
        font-size: 1.9rem;
    }
    .feedback-info input{
        font-size: 1.9rem;
    }
    .feedback-info1 input{
        font-size: 1.9rem;
    }
}